services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.dev
    ports:
      - "5432:5432"
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - ./.env.dev
    depends_on:
      - db
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "16543:80"
    env_file:
      - ./.env.dev
    depends_on:
      - db

volumes:
  postgres_data:
